# Traefik static configuration
api:
  insecure: true
  dashboard: true

ping:
  entryPoint: traefik

entryPoints:
  web:
    address: ":80"
  traefik:
    address: ":8080"

providers:
  file:
    filename: /etc/traefik/routes.yml
    watch: true

log:
  level: INFO
